{% extends "master.html" %}
{% load static %}

{% block title %}
    Admin create model
{% endblock %}

{% block content %}
<header>
    <h1>Add New {{ model_name|title }}</h1>
</header>
<div class="container">
    <form method="post" class="form-card">
        {% csrf_token %}
        {{ form.as_p }}
        {% if model_name == 'section' %}
            <input type="hidden" name="course_id" value="{{ course_id }}">
        {% endif %}
        <button type="submit" class="btn">Create {{ model_name|title }}</button>
    </form>
    <nav style="margin-top: 1rem;">
        {% if model_name == 'course' %}
            <a href="{% url 'courses_list' %}" class="btn btn-secondary">Back to Courses</a>
        {% elif model_name == 'user' %}
            <a href="{% url 'user_list' %}" class="btn btn-secondary">Back to Users</a>
        {% elif model_name == 'section' %}
            <a href="{% url 'sections_list' 'course' course_id%}" class="btn btn-secondary">Back to Sections</a>
        {% endif %}
    </nav>
</div>
{% endblock %}
