
{% extends "master.html" %}
{% load static %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_dashboard.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Admin Dashboard</h1>
</header>
<nav>
    <ul>
        <li><a href="{% url "admin_home" %}">Dashboard</a></li>
        {% for model in models %}
            <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
        {% endfor %}
        <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Log Out</button>
            </form>
        </li>
    </ul>
</nav>
<div class="dashboard-wrapper container">
    <div class="main-content">
        <h2>Hello, {{ user.username }}!</h2>
    </div>
</div>
{% endblock %}
