
{% extends "master.html" %}
{% load static %}
{% load site_tags %}

{% block title %}
    Admin model users
{% endblock %}

{% block includes %}

{% endblock %}

{% block content %}
    <a href="{% url 'admin_home' %}">home</a>

    <h1>Users</h1>
    <a href="{% url 'add_model_generic' model_name='user' %}">Add New User</a>
    <ul>
        {% for user in users %}
        <li>
            <a href="{% url 'edit_model' 'user' user.id %}">{{ user.username }} ({{ user.email }})</a>
        </li>
        {% endfor %}
    </ul>



{% endblock %}
