
{% extends "master.html" %}
{% load static %}

{% block title %}
    Admin model users
{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{% static 'css/base_theme.css' %}">

{% endblock %}

{% block content %}
    <h2>{{ model_name|title }} List</h2>
    <ul>
        {% for obj in objects %}
            <li>
                <a href="{% url 'admin_model_edit' app_label model_name obj.id %}">
                    {{ obj }}
                </a>
            </li>
        {% endfor %}
        <a href="{% url 'admin_model_create' app_label model_name %}">Create New {{ model_name|title }}</a>
    </ul>
    <!-- Add more dashboard widgets here -->
    <a href="{% url 'admin_home' %}">home</a>
{% endblock %}
