
{% extends "master.html" %}
{% load static %}
{% load site_tags %}

{% block title %}
    Admin model users
{% endblock %}

{% block includes %}

{% endblock %}

{% block content %}
    <a href="{% url 'admin_home' %}">home</a><br><br>

     {% if model_name == 'user' %}
        Sections Taught by {{ model_name }}
         <a href="{% url 'user_list' %}">Back to Users</a>
         <a href="{% url "claim_section_list" model.id%}"> Claim Section</a>

    {% elif model_name == 'course'%}
        Sections in Course: {{ model.name }}<br>
         <a href="{% url 'courses_list' %}">Back to courses</a>
         <a href="{% url "create_model_section" model.id%}"> create Section</a>

    {% endif %}
    <br><br>


    {% for section in sections %}

        {% if model_name == 'user' %}
            <strong>{{ section.course.name }}</strong> -
        {% elif model_name == 'course'%}
            <strong>{{ section.instructor.username|default:"TBA" }}</strong> -
        {% endif %}


        {{ section.name }} ({{ section.get_section_type_display }})
        <a href="{% url 'edit_model' 'section' section.id %}">edit</a>
        <a href="{% url 'unclaim_section' model.id section.id %}">   unclaim</a>



        {% if section.schedule.items %}
            <div class="schedule">
                    schedule: {{ section.schedule|format_schedule }}
            </div>
        {% else %}
            No schedule data
        {% endif %}
        <br>

    {% empty %}
        No sections assigned
    {% endfor %}


{% endblock %}
