
<!-- this is here because admin page is ment to work with dark theme -->

{% load static %}
<!--this is a master file. it contains all common elements -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- for styles and js-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_dark.css' %}">
    {% block includes %}
    {% endblock %}

</head>
<body>


    {% block content %}


    {% endblock %}

</body>
</html>