{% extends "base.html" %}

{% block title %}
  Change Password
{% endblock %}


{% block content %}

    <!-- Header Section -->
    <header>
        <h1>Change Password</h1>
    </header>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
        </ul>
    </nav>


    <div class="main-content container">
        <br><a class="btn" href="/profile/">Back to Profile</a>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">Change password</button>
        </form>
    </div>

{% endblock %}