{% extends "master.html" %}
{% load static %}

{% block title %}
  Inbox
{% endblock %}

{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <!-- Header Section -->
        <header>
            <h1>Inbox</h1>
        </header>
        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/profile/">Profile</a></li>
                <li><a href="/courses/">Courses</a></li>
                <li><a href="/calendar/">Calender</a></li>
                <li><a href="/inbox/">Inbox</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" >Log Out</button>
                    </form>

                </li>
            </ul>
        </nav>

        <div class="dashboard-wrapper">
            <!-- Main Content -->
            <div class="main-content container">
                <h2>Hello, {{ user.username }}!</h2>
                <p>This is your inbox.</p>
            </div>
        </div>
    {% endif %}

{% endblock %}