{% extends "base.html" %}

{% block title %}
  Profile
{% endblock %}


{% block content %}
    <div class="container">


    <!-- Header Section -->
    <header>
        <h1>Your Profile</h1>
    </header>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/courses/">Courses</a></li>
            <li><a href="/calendar/">Calendar</a></li>
            <li><a href="/inbox/">Inbox</a></li>

        </ul>
    </nav>

    <div class="dashboard-wrapper">
        <!-- Main Content -->
        <div class="main-content container">
            <h2>Hello, {{ user.username }}!</h2>
            <p>This is your profile view.</p>
        </div>
    </div>
    <div class="card">
        <a class="btn" href="/change_password/">Change Password</a>
    </div>
    <div class="card">
        <h2>Your Information</h2>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone Number: {{ user.phone_number }}</p>
        <p>Information: {{ user.description }}</p>
        <p><a class="btn" href="/update_description/">Update Information</a></p>
    </div>
    <div class="card">
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn">Log Out</button>
        </form>
    </div>
</div>
{% endblock %}
