
{% extends "master.html" %}

{% block title %}
  Basic Template
{% endblock %}


{% block content %}
      <header>
        <h1>Welcome</h1>

      </header>

    <h2>Html goes in the templates folder. CSS, JS and Images go in static folder</h2>

    <p><a href="/ta/login">login as TA</a></p>
    <p><a href="/instructor/login">login as instructor</a></p>
    <p><a href="/supervisor/login">login as Supervisor</a></p>


    <p><a href="https://www.w3schools.com/django/">tutorial</a></p>
{% endblock %}
