
{% extends "master.html" %}

{% block title %}
  The app
{% endblock %}


{% block content %}
      <header>
        <h1>The_app_page</h1>
        </header>

        <main>
        <h3>put all urls in the_app/urls.py, not mysite/url.py</h3>
        <h3>also, make all html files inherit from the master file</h3>


        <h3> if you get confused, just look at my examples</h3><br>
    <p><a href="https://www.w3schools.com/django/">tutorial</a></p>



        </main>


    <p><a href="/">return home</a></p>
    <p><a href="/removelater">last file i made</a></p>
{% endblock %}
