

<!--this is for login-->

{% extends "master.html" %}
{% load static %}

{% block title %}
  Login
{% endblock %}

{% block includes %}
    <!-- placeholder for adding style changes in the future -->
    <link rel="stylesheet" href="{% static 'css/base_theme.css' %}">
    <style>
        label, input {
            display: block;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

<!-- pretty basic layout for login page -->
{% block content %}
    <header>
        <h1>Log In</h1>
    </header>

    <nav>

    </nav>

    <div class = "container">
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Log In</button>
        </form>
    </div>

{% endblock %}